* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  min-width: 90vw;
}

.item {
  width: 25%;
  height: 95vh;
  background-color: lightgray;
}

.item:nth-child(2) {
  width: 75%;
  margin-left: 1rem;
}